<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.drive.azai91</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>3C794000-8A32-436F-82A1-5642A20CA50A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA12A00A-5FE2-4B3A-A097-7AE9E1753D5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA12A00A-5FE2-4B3A-A097-7AE9E1753D5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1B4C8BA-4178-4D5D-B85A-9DEEECA5959B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE6CE12E-AA5F-4B6B-9846-34ED9930F742</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE6CE12E-AA5F-4B6B-9846-34ED9930F742</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D129E0EF-D260-484A-9AC0-8CB0D42944A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>azai91</string>
	<key>description</key>
	<string>Search Google Drive or create new documents</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Drive</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>1</integer>
				<key>script</key>
				<string>if [[ "$action" == '--open' ]]
  then open "$1"
  else ./google-drive.rb "$action" "$1" --name "$name"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA12A00A-5FE2-4B3A-A097-7AE9E1753D5E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>d</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./google-drive.rb --filter "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Google Drive for ‘{query}’</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3C794000-8A32-436F-82A1-5642A20CA50A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Google Drive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C1B4C8BA-4178-4D5D-B85A-9DEEECA5959B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Workflow Update Available</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D129E0EF-D260-484A-9AC0-8CB0D42944A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./google-drive.rb --check-for-updates</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AE6CE12E-AA5F-4B6B-9846-34ED9930F742</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>The first time you use this workflow, you will be asked (in your default browser) to allow “Alfred Drive Workflow” to view and manage files in your Google Drive.

After successfully connecting the workflow to your Google Drive you can search it from Alfred using `d {query}`.

You can also create new documents using `d New Document` or `d New Spreadsheet` optionally followed by the name to use for the new document.</string>
	<key>uidata</key>
	<dict>
		<key>3C794000-8A32-436F-82A1-5642A20CA50A</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AA12A00A-5FE2-4B3A-A097-7AE9E1753D5E</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AE6CE12E-AA5F-4B6B-9846-34ED9930F742</key>
		<dict>
			<key>note</key>
			<string>Check for Updates</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>C1B4C8BA-4178-4D5D-B85A-9DEEECA5959B</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D129E0EF-D260-484A-9AC0-8CB0D42944A7</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.3</string>
	<key>webaddress</key>
	<string>https://github.com/azai91</string>
</dict>
</plist>
